
<div class="card mb-6">
  <header class="card-header card-header-title has-background-grey-lighter">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/posts/{{post_id}}"  class="has-text-black is-capitalized is-pulled-left">{{name}} </a>

      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content has-text-justified">

          {{description}}
        </div>
            <div class="is-pulled-right">
                <b>{{resident.name}}</b>              
 {{!-- {{format_date created_at}}  
                  <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
            </div> 