{{>navbar}}

{{> donation}}

<div class="w3-container w3-responsive w3-row-padding w3-display-middle w3-border-blue" style="overflow-auto;margin-top:60%">
<div class="w3-row">
    <h5>Please enter item quantity in the text box provided below</h5>
       {{#each categories as |category|}}
      <div class="w3-col w3-container w3-border-blue">
         <li class = "w3-padding-16">
         <a href = "" class="w3-button w3-black" id = {{category.category_id}}  >{{category.name}}</a>
            </li>
        <!--<h4>Category: {{donation.category.description}}</h4>-->
       
        <h5>Items: </h5>
        {{#each category.items as |item|}}
        <div class = "w3-group">
        <p>
            {{item.name}} -  {{item.description}} :  <input class = "w3-input" id ={{category_id}}{{item_id}} type = "text" style = "width:10%" required> - <a href = "" class="w3-button w3-black btnDonate" data-item = {{item.item_id}} data-itemname = {{item.name}} data-category = {{item.category_id}} data-categoryname ={{category.name}} data-id = "">Donate</a>
        </p>
        
        
      </div>
        {{/each}}
        {{/each}}
    </div>
    </div>
    </div>


<script src="/js/donate.js"></script>

