{{>navbar}}

<div class="w3-container w3-responsive w3-display-top news">
   <a href = "/api/posts/newevent" class="w3-button w3-green">Add New Event</a>
</div>



{{#each posts as |post|}}

<div class="card mb-6">
  <header class="card-header card-header-title has-background-grey-lighter">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/api/posts/{{post.post_id}}"  class="has-text-black is-capitalized is-pulled-left">{{post.event_name}} </a>

      <a href=""  class="has-text-black is-capitalized is-pulled-right">{{post.event_date}} </a>

      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content has-text-justified">

          {{post.event_desc}}
        
        </div>
      
            <div class="is-pulled-right">
                <b>{{post.resident_name}}</b>              
 
            </div> 


</div>

{{/each}}

</div>



