
{{>navbar}}
{{> donation}}

 <div class="w3-container w3-responsive w3-row-padding w3-display-middle news" style = " overflow: auto;outline-style: solid; width:60%">
<div class="container-lg " style="">
  <div class="row border border-dark">
    <div class="col-lg">
      Donation Date
    </div>
   <div class="col-lg">
      Category Name
    </div>
 
    <div class="col-lg">
      Item Name
    </div>
    <div class="col-lg">
       Quantity
    </div>
    <div class="col-lg">
      Delete?
   
  </div>
</div>

{{#each donations as |donation|}}
<div class="container-lg">
  <div class="row">
    <div class="col-lg">
      {{donation.donation_dt}}
    </div>
    <div class="col-lg">
        {{donation.category_name}}
    </div>
 
    <div class="col-lg">
      {{donation.item_name}}
    </div>
    <div class="col-lg">
       {{donation.item_qty}}
    </div>
    <div class="col-lg"  data-participant = {{donation.participant_id}}>
      <button class="w3-button  btnDelete" id = "btnDelete" data-participant = {{donation.participant_id}}><i class="fa fa-trash-o"></i></button>
      
  </div>
</div>
{{/each}}
</div>


<script src="/js/donate.js"></script>