
{{>navbar}}

<div class="w3-card w3-hide-small w3-row-padding w3-display-right w3-opacity" style="width:100%;height:auto">

    <img src="/images/donate1.jpg" alt="donation">
   </div>

<!--<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">-->
 <div class="w3-card w3-responsive w3-row-padding w3-display-middle news" style = " overflow: auto;outline-style: solid; width:60%">
  <div>
<a href = "/api/donation/" class="w3-button w3-grey" >Go to Donation page</a>

    </div>
<div class="container-lg " style="">
  <div class="row border border-dark">
    <div class="col-lg">
      Donation Date
    </div>
   <div class="col-lg">
      Category Name
    </div>
 
    <div class="col-lg">
      Item Name
    </div>
    <div class="col-lg">
       Quantity
    </div>
    <div class="col-lg">
      Delete?
   
  </div>
</div>

{{#each donations as |donation|}}
<div class="container-lg">
  <div class="row">
    <div class="col-lg">
      {{donation.donation_dt}}
    </div>
    <div class="col-lg">
        {{donation.category_name}}
    </div>
 
    <div class="col-lg">
      {{donation.item_name}}
    </div>
    <div class="col-lg">
       {{donation.item_qty}}
    </div>
    <div class="col-lg"  data-participant = {{donation.participant_id}}>
      <button class="w3-button  btnDelete" id = "btnDelete" data-participant = {{donation.participant_id}}><i class="fa fa-trash-o"></i></button>
      
  </div>
</div>
{{/each}}
</div>
</div>
<!--</div>-->



<script src="/js/donate.js"></script>